/*THIS IS JUST AN INTEGRATION OF API WITH A WEBSITE BY VAIBHAV SINHA*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*THIS IS JUST AN INTEGRATION OF API WITH A WEBSITE BY VAIBHAV SINHA*/

body{
    font-family: 'Raleway', sans-serif;
    max-width: 700px;
    margin: 0 auto;
} 

.name::after{
    content : "_________________";
    display: flex;
    flex-direction:column ;
}
/*THIS IS JUST AN INTEGRATION OF API WITH A WEBSITE BY VAIBHAV SINHA*/

.temp::before{
    content: "Temperature : ";
}
/*THIS IS JUST AN INTEGRATION OF API WITH A WEBSITE BY VAIBHAV SINHA*/

.humidity::before{
    content: "Humidity : ";
}
.temperatueRange::before{
    content: "Temperature Range : ";
}
/*THIS IS JUST AN INTEGRATION OF API WITH A WEBSITE BY VAIBHAV SINHA*/
